@font-face{
    font-family: 'Futura Medium';
    src: url(../Fuentes/FuturaMedium.ttf);
    font-family:'Futura Std Medium Condensed' ;
    src: url(../Fuentes/Futura\StdMediumCondensed.ttf);
    font-family: 'Futura Std Medium';
    src: url(../Fuentes/FuturaStdMedium.ttf);
    font-family: 'Futura URW Medium';
    src: url(../Fuentes/FuturaURWMedium.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/* TITULOS DEL CUERPO */
.titulo{
    font-weight: 300;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
        
}

/* HEADER DISEÑOS */
header{
    background-image: linear-gradient(120deg, #9BBEC7 0%, rgba(85, 27, 35, 0.692) 100%), url("../img/Aconcagua2016.jpg");
    width: auto;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

.titulo-header{
    color: rgb(243, 243, 243);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Futura Medium';
}

.logo{
    align-items: center;
    text-align: center;
}

.buttong{
    text-align: center;
    align-items: center;
    margin-top: 20px;
}


/* FIN DISEÑOS HEADER */
/* VIDEO */
video{
    width: 95%;
}

/* COMBI */
.container-fluid{
    background-color:#9BBEC7
}

/*video combi*/
.button1{
    text-align: center;
    align-items: center;
    margin-top: 20px;
}

/*Tostado*/
.tostado{
    font-family:'Futura URW Medium' ;
    color: white;
    width: 80%;
}

/*Imagen retroforestación */
.figure
{
    width: 80%;
    height: auto;
    font-size: 30px;
}

/* INFORMACION Y VISION */
.info-vision{
    width: 70%;
    height: 70%;
    background-color: #fff;
    
}
.titulo-Visión-Misión{
    color: #3f2e1f;
    font-family: 'Futura URW Medium';
    font-size: 35px

}
.texto-Mision{
    font-family:'Futura Std Medium';
    color:#5ac1d5;
    text-align: center;
    width: 100%;
    font-size: 20px;
    
}

.texto-vision{
    font-family:'Futura Std Medium Condensed';
    color:#4a8490;
    text-align: center;
    width: 100%;
    font-size: 20px;
}
/* Footer */
footer{
    background: #A5B7C0;
    color: #3f2e1f;
    height: 100%;
    text-align: center;
}